<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{{titulo}}</title>
</head> 
<body>
{{>header}}

<section id="habilidades" class="habilidades">
    <div class="contenido">
        <h2 class="titulo-seccion">Habilidades</h2>
        <div class="habilidades-contenido">
            <!-- Habilidades Técnicas -->
            <div class="col">
                <h3>Habilidades Técnicas</h3>
                <div class="barra">
                    <p>Javascript</p>
                    <div class="barra-container">
                        <div class="barra-progreso js" data-porcentaje="45">
                            <span class="porcentaje">45%</span>
                        </div>
                    </div>
                </div>
                <div class="barra">
                    <p>HTML & CSS</p>
                    <div class="barra-container">
                        <div class="barra-progreso html-css" data-porcentaje="50">
                            <span class="porcentaje">50%</span>
                        </div>
                    </div>
                </div>
                <div class="barra">
                    <p>C++</p>
                    <div class="barra-container">
                        <div class="barra-progreso cpp" data-porcentaje="45">
                            <span class="porcentaje">45%</span>
                        </div>
                    </div>
                </div>
                <div class="barra">
                    <p>C#</p>
                    <div class="barra-container">
                        <div class="barra-progreso csharp" data-porcentaje="40">
                            <span class="porcentaje">40%</span>
                        </div>
                    </div>
                </div>
                <div class="barra">
                    <p>Java</p>
                    <div class="barra-container">
                        <div class="barra-progreso java" data-porcentaje="45">
                            <span class="porcentaje">45%</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Habilidades Profesionales -->
            <div class="col">
                <h3>Habilidades Profesionales</h3>
                <div class="barra">
                    <p>Comunicación</p>
                    <div class="barra-container">
                        <div class="barra-progreso comunicacion" data-porcentaje="80">
                            <span class="porcentaje">80%</span>
                        </div>
                    </div>
                </div>
                <div class="barra">
                    <p>Trabajo en Equipo</p>
                    <div class="barra-container">
                        <div class="barra-progreso trabajo-equipo" data-porcentaje="75">
                            <span class="porcentaje">75%</span>
                        </div>
                    </div>
                </div>
                <div class="barra">
                    <p>Creatividad</p>
                    <div class="barra-container">
                        <div class="barra-progreso creatividad" data-porcentaje="90">
                            <span class="porcentaje">90%</span>
                        </div>
                    </div>
                </div>
                <div class="barra">
                    <p>Flexibilidad</p>
                    <div class="barra-container">
                        <div class="barra-progreso flexibilidad" data-porcentaje="65">
                            <span class="porcentaje">65%</span>
                        </div>
                    </div>
                </div>
                <div class="barra">
                    <p>Capacidad de Adaptación</p>
                    <div class="barra-container">
                        <div class="barra-progreso adaptacion" data-porcentaje="80">
                            <span class="porcentaje">80%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        <section id="datos-personales" class="datos-personales">
    <div class="contenido">
        <h2 class="titulo-seccion">Datos Personales</h2>
        <ul class="lista-datos">
            <li><span class="etiqueta">Linkedin:</span> BENITEZ SIMON</li>
            <li><span class="etiqueta">Email:</span> santosbenitez2017@gmail.com</li>
            <li><span class="etiqueta">Dirección:</span> Santa Cruz La Laguna, Sololá</li>
        </ul>
    </div>
</section>

    </div>
</section>


{{>footer}}
</body>
</html>
